.lead {
  font-size: 19px;
}

.input-tiny {
  width: 40px;
}

.chart {
  height: 200px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar rect {
  fill: #4cb04c;
}

.bar.under-representation rect {
  fill: #ad494a;
}

.bar.over-representation rect {
  fill: #5254a3;
}

.bar text {
  font-size: 11px;
  fill: #666;
  text-anchor: middle;
}

.probability {
  font-weight: bold;
}
